
.ButtonForms{
background-color: #3D1723;
  width: 50%;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  max-width: 400px;
  min-width: 300px;

  font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
}
.ButtonForms::after{
    background-color: #009966;
    border-radius: 10px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.ButtonForms:hover::after{
    border-radius: 10px;
transform: translate(0, 0);
}
.ButtonForms:hover{
color: white;
will-change: transform;
cursor: pointer;
}